@charset "utf-8";

:root { 
  --main_color:#0C3A97;
  --sub_color1:#E01D26;
  --sub_color2:#FFD600;
}

body { font-family: "Noto Sans KR", sans-serif; font-size: 1.6rem; color: #292929; line-height: 1.5; overflow-x: hidden; }


/* header */
#header { position: absolute; top: 0; left: 0; width: 100%; display: flex; flex-direction: column; padding: 20px 0; z-index: 2; }
#header.fix { position: fixed; background: #000; color: #292929; z-index: 100; }
#header h1 { position: absolute; left: 50%; top: 10px; transform: translate(-50%, 0); }
#header h1 img { height: 71px; }
#header h1 a { display: block; }

#header .header_top { padding: 0 60px; display: flex; justify-content: space-between; font-size: 1.4rem; }
#header .header_top .header_top_left { display: flex; }
#header .header_top .header_top_left li a { display: block; transition: color 0.3s; padding: 0 10px; color: #fff; }
#header .header_top .header_top_left li:hover a { color:var(--sub_color2); }
#header .header_top .header_top_right { display: flex; }
#header .header_top .header_top_right li a { transition: color 0.5s; padding: 0 10px; color: #fff; }
#header .header_top .header_top_right li:hover a{ color: var(--sub_color2); }

#header .inner { position: relative; width: 100%; max-width: 1200px; margin: 55px auto 0; }
#header .inner nav { display: flex; }
#header .inner .gnb { display: flex; }
#header .inner nav .gnb > li { position: relative; }
#header .inner nav .gnb > li > a { transition: color 0.5s; display: block; padding: 0 40px 20px; font-weight: 600; text-transform: uppercase; color: #fff; }
#header .inner nav .gnb > li:hover > a { color: var(--sub_color2); }

#header .inner .gnb > li > .depth2 { display: none; padding: 10px 0; position: absolute; left: 50%; transform: translate(-50%,0 ); width: 170px; background: #0C3A97; border-radius: 10px; }
#header .inner .gnb > li:hover > .depth2 { display: block; }
#header .inner .gnb > li > .depth2 > li { text-align: center; }
#header .inner .gnb > li > .depth2 > li > a { transition: color 0.5s; display: block; font-weight: 400; padding: 7px 20px; color: #fff; font-size: 1.5rem;  }
#header .inner .gnb > li > .depth2 > li:hover > a { color: var(--sub_color2); }

#header .inner button { align-self: flex-start; margin-left: 52px; padding-top: 4px; cursor: pointer; }

@media (max-width:1280px){
  #header .header_top { position: relative; display: none; }
  #header .inner .gnb { display: none; }
  #header .inner button { position: absolute; top: -20px; right: 16px; } 
  #header .inner button img { display: block; }
}


/* mgnb */
.mgnb_wrap { display: none; position: fixed; top: -14px; left: 0; width: 100%; height: 555px; text-align: center; background: #fff; }

#mheader h2 { position: absolute; left: 50%; top: 10px; transform: translate(-50%, 0); }
#mheader h2 img { height: 71px; }

#mheader h2 a img { padding-top: 10px; }

.mgnb { position: absolute; top: 100px; left: 350px; display: flex; }
.mgnb > li { position: relative; padding: 10px 0; }
.mgnb > li > a { transition: color 0.5s; display: block; padding: 0 40px 20px; font-weight: 600; text-transform: uppercase; color: #292929; }
.mgnb > li:hover > a { color: var(--main_color); }
.mgnb > li .mdepth2 > li { padding: 10px 0; }
.mgnb > li .mdepth2 > li a { transition: all 0.5s; }
.mgnb > li .mdepth2 > li:hover a { font-weight: 500; color: var(--main_color); }
.close { position: absolute; top: 110px; right: 355px; }

.logo_ham { position: absolute; bottom: 8px; right: 25px; }


/* main */
#main .main_visual { position: relative; height: 100vh; }

#main .main_visual .more img { z-index: 2; position: absolute; top: 627px; left: 842px; width: 38px; height: 38px; }

#main .main_visual .txt_box { position: absolute; top: 65%; left: 19%; color: #fff; }
#main .main_visual .txt_box p { font-size: 2.4rem; }
#main .main_visual .txt_box h2 { font-size: 6.4rem; font-weight: 600; }

#main .main_visual .txt_p {display: flex; align-items: center; column-gap: 70px;}
#main .main_visual .btn_more {display: block;}
#main .main_visual .btn_more img { width: 35px; padding: 10px 0; }

#main .main_visual .mv_control { position: absolute; top: 83%; left: 19%; display: flex; column-gap: 20px; }
#main .main_visual .mv_control .swiper-button-next { margin: 0; position: static; width: 60px; height: 60px; color: transparent; background: url(../img/main/btn_mv.png) no-repeat center; transform: rotate(180deg); }
#main .main_visual .mv_control .swiper-button-prev { margin: 0; position: static; width: 60px; height: 60px; color: transparent; background: url(../img/main/btn_mv.png) no-repeat center; }

#main .main_visual .mv_control .swiper-pagination { position: absolute; top: 20px; left: 450px; color: #fff; }
#main .main_visual .mv_control .text { display: none; }
#main .main_visual .mv_control .swiper-scrollbar { position: absolute; top: 30px; left: 350px; background: #666666; }
#main .main_visual .mv_control .swiper-scrollbar-drag { background: #fff; }

.bg1 { height: 100vh; background: url(../img/main/bg01-2.jpg) no-repeat center / cover; }
.bg2 { height: 100vh; background: url(../img/main/bg02.jpg) no-repeat center / cover;}


@media (max-width:1059px){
  #main .main_visual .mv_control { display: none; }
  #main .main_visual .txt_box p { font-size: 2.0rem; }
  #main .main_visual .txt_box h2 { font-size: 3.5rem; }
}

@media (max-width:860px){
  #main .main_visual .txt_box { position: relative; width: 100%; top: 65%; left: 10%; color: #fff; }
  #main .main_visual .txt_box p { font-size: 1.4rem; }
  #main .main_visual .txt_box h2 { font-size: 3.2rem; font-weight: 500; }
}


/* match */
.match { background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../img/main/section_match.jpg) no-repeat center / cover; }

.match .inner { position: relative; padding: 40px 35px; max-width: 1200px; margin: 0 auto; }
.match .inner .table_list { display: flex; flex-wrap: wrap; gap: 20px;}
.match .inner .table_list li { width: calc((100% - 40px) / 3); height: 572px; background: #000;text-align: center;}

.match .inner .table_list .last_match { padding: 25px 28px 49px 28px; }

.match .inner .table_list .last_match .last_tit { display: flex; justify-content: space-between; align-items: center; }
.match .inner .table_list .last_match .last_tit h3 { font-size: 2.3rem; font-weight: 700; color: #fff; }
.match .inner .table_list .last_match .last_tit .btn_more { width: 25px; height: 25px; background: #6e6e6e url(../img/main/btn_plus.png) no-repeat center; font-size: 0; border-radius: 50%; }

.match .inner .table_list .last_match .first { padding: 30px 0; text-align: center; }
.match .inner .table_list .last_match .match_info { padding: 40px 0 0; }
.match .inner .table_list .last_match .date { text-align: center; color: #6e6e6e; font-weight: 700; }

.match .last_match { position: relative; }
.match .inner .table_list .last_match .second { padding: 30px 0 ; }

.match .last_match .line { margin:0 auto; width: 80%; height: 1px; background: #6e6e6e; }
.match .last_match .match_info { display: flex; align-items: center; justify-content: space-between; }
.match .last_match .match_info .last_home { text-align: center; padding-left: 30px; }
.match .last_match .match_info .last_home img { width: 50px; height: 65px; }
.match .last_match .match_info .last_home p { padding-top: 15px; color: #fff; font-weight: 700; }

.match .last_match .match_info .info { font-weight: 700; }
.match .last_match .match_info .info p { font-size: 2.2rem; color: #fff; }
.match .last_match .match_info .info p .point { color:var(--sub_color2); letter-spacing: 20px; }
.match .last_match .match_info .info .location { color: var(--main_color); }
.match .last_match .match_info .info p .txt { letter-spacing: 20px; }

.match .last_match .match_info .info div { width: 60px; margin: 30px auto; padding: 0 15px; background: #fff; border-radius: 20px; font-size: 1.5rem; font-weight: 700; text-align: center; }

.match .last_match .match_info .last_away { text-align: center; padding-right: 30px; }
.match .last_match .match_info .last_away img { width: 60px; height: 60px; }
.match .last_match .match_info .last_away p { padding-top: 15px; color: #fff; font-weight: 700; }

.match .inner .table_list .next_match { padding: 22px 23px 22px 33px; } 
.match .next_match .next_tit { display: flex; justify-content: space-between; align-items: center; }
.match .next_match .next_tit h3 { font-size: 2.3rem; font-weight: 700; color: #fff; }
.match .next_match .next_tit .btn_more { width: 25px; height: 25px; background: #6e6e6e url(../img/main/btn_plus.png) no-repeat center; font-size: 0; border-radius: 50%; } 

.match .inner .table_list .next_match .date { font-size: 1.6rem; color: #6e6e6e; }

.match .table_list .next_match { position: relative; }
.match .table_list .next_match_info { display: block; padding: 30px 0 0; }
.match .table_list .next_match_info .play { padding: 24px 0; display: flex; justify-content: space-between; align-items: center; }
.match .table_list .next_match_info p { font-weight: 700; font-size: 3.0rem; color: #fff; }
.match .table_list .next_match_info .next_home { text-align: center; }
.match .table_list .next_match_info .next_home img { width: 73px; height: 93px; }
.match .table_list .next_match_info .next_home p { padding-top: 29px; color: #fff; font-size: 1.5rem; font-weight: 700; }a

.match .table_list .next_match_info .next_away { text-align: center;  }
.match .table_list .next_match_info .next_away img { width: 93px; height: 93px; }
.match .table_list .next_match_info .next_away p { padding-top: 29px; color: #fff; font-size: 1.5rem; font-weight: 700; }

.match .table_list .next_match .location { display: inline-block; text-align: center; padding: 1px 40px;color: #0C3A97; background: #fff; border-radius: 25px;font-size: 1.5rem;font-weight: 500; }

.match .table_list .next_match .time { display: flex; justify-content: center; gap: 20px; margin: 43px 0 27px;}
.match .table_list .next_match .time li { position: relative; width: 57px; height: 57px; background: #fff; border-radius: 5px; }
.match .table_list .next_match .time li::before { position: absolute; right: -17px;content: ":"; color: #fff; font-size: 5.0rem; font-weight: 500; line-height: 1.15; }
.match .table_list .next_match .time li:last-child::before { display:none; }
.match .table_list .ranking { padding: 22px 28px 35px 31px; }
.match .table_list .ranking .ranking_tit { display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; }
.match .table_list .ranking .ranking_tit h3 { font-size: 2.3rem; font-weight: 700; color: #fff; }
.match .table_list .ranking .ranking_tit .btn_more { width: 25px; height: 25px; background: #6e6e6e url(../img/main/btn_plus.png) no-repeat center; font-size: 0; border-radius: 50%; }

.match .table_list .ranking table { color: #fff; text-align: center; }

.match .table_list .ranking table thead > tr th { padding: 10px 0; color: #6e6e6e; }
.match .table_list .ranking table tbody tr td img { width: 24px; height: 31px; }
.match .table_list .ranking table tbody tr.on td{ background: rgba(12, 58, 151,0.5); }
.match .table_list .ranking table tbody tr.on td:first-child { border-radius: 5px 0 0 5px; }
.match .table_list .ranking table tbody tr.on td:last-child { border-radius: 0 5px 5px 0; }

.match .table_list .ranking table tbody .color { color: #FFD600; }
.match .table_list .ranking table tbody td { padding: 10px 0; }

.match .table_list .time li {font-size: 3.2rem;font-weight: 700;color: var(--main_color);line-height: 53px;}

.match .reservation { transition: color 0.5s; margin: 27px 0 22px; padding: 8px 25px; display: inline-block; background: var(--main_color); font-weight: 400; border-radius: 5px; }
.match .reservation:hover a { color: var(--sub_color2); }
.match .reservation a { color: #fff; font-size: 1.7rem; font-weight: 400; }

.match .inner .supporters_a { display: block; padding-top: 40px; }
.match .inner .supporters { width: 100%; }
.match .inner .m_supporters { display: none; }

@media (max-width:1024px){
  .match .inner { padding: 60px 5%; }
  .match .inner .table_list li { width: calc((100% - 20px) / 2); }
  .match .table_list .ranking { width: 100%; }
  .match .inner .table_list > li:nth-child(3) { flex-grow: 1; }
}

@media (max-width:728px){
  .match .inner { padding: 60px 16px 0; }
  .match .inner .table_list li { width: 100%; }
  .match .inner .supporters { display: none; }
  .match .inner a .m_supporters { width: 100%; padding-bottom: 30px; display: block; }
}


/* store */
.store { position: relative; background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../img/main/bg_store_center.png) no-repeat center / cover; }
.store .inner { padding: 0 5%; max-width: 1200px; margin: 0 auto; }
.store .inner h3 { padding-top: 40px; font-size: 3.6rem; font-weight: 700; color: #fff; }

.store .inner .btn { display: flex; column-gap: 24px; margin-top: 24px; }
.store .inner .btn li { transition: color 0.5s; background: var(--main_color); border-radius: 5px; padding: 7px 35px; }
.store .inner .btn li:hover a { color: var(--sub_color2); }
.store .inner .btn li a { color: #fff; }

.store .inner h4 { color: #fff; font-size: 2.0rem; font-weight: 700; margin: 60px 0 24px; }

.store .inner .item_tit { display: flex; flex-wrap: wrap; justify-content: space-between ;}
.store .inner .item { justify-content: space-between; display: flex; flex-wrap: wrap;  padding-bottom: 30px; }
.store .inner .item p { margin: 60px 0 20px; font-size: 2.0rem; font-weight: 700; color: #fff; }
.store .item .best_item { display: flex; gap: 20px; }
.store .item .best_item li { text-align: center; cursor: pointer; }
.store .item .best_item li img { width: 114px; height: 114px; border-radius: 50%; }
.store .item .best_item li > p { font-weight: 400; margin-top: 14px; color: #fff; font-size: 1.5rem; }
.store .item .best_item li:hover > p { text-decoration: underline; }

.store .item .new_arrival { display: flex; gap: 20px; }
.store .item .new_arrival li { text-align: center; cursor: pointer; }
.store .item .new_arrival li img { width: 114px; height: 114px; border-radius: 50%; }
.store .item .new_arrival li > p { font-weight: 400; margin-top: 14px; color: #fff; font-size: 1.5rem; }
.store .item .new_arrival li:hover > p { text-decoration: underline; }

.blend_img { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%) }

.store .inner .item .scroll_1st { overflow-x: auto; }
.store .inner .item ul { white-space: nowrap; }

@media (max-width:950px){
  .store .inner .item { justify-content: center; column-gap: 30px; }
}

@media (max-width:728px){
  .store .inner { padding: 0 16px; margin: 0 auto; }
  .store .inner h3 { font-size: 3.3rem; }
}


/* video */
.video { position: relative; background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../img/common/bg_04.jpg) no-repeat center / cover; }
.video h3 { padding-top: 40px; font-size: 3.6rem; text-align: center; font-weight: 700; text-transform: uppercase; color: #fff; }

.video .vi ul li img { padding: 10px 0; transition: all 0.7s; transform: scale(0.9,0.9); width: 100%; object-fit: cover; border-radius: 15px; }
.video .vi ul li img:hover { transform: scale(1,1); }
.video .video_dimmed { margin-top: 50px; width: 100%; height: 445px; background: rgba(0,0,0,0.7); }

.video .video_control { display: flex; column-gap: 20px; padding: 30px 0; justify-content: center; }
.video .video_control .swiper-button-next { margin: 0; position: static; width: 60px; height: 60px; color: transparent; background: url(../img/main/btn_mv.png) no-repeat center; transform: rotate(180deg); }
.video .video_control .swiper-button-prev { margin: 0; position: static; width: 60px; height: 60px; color: transparent; background: url(../img/main/btn_mv.png) no-repeat center; }
.video .vi { height: 445px;  }
.video .vi .swiper-wrapper { align-items: center; }
.video .vi .swiper-slide { height: auto; }

.video .bluewingstv { display: none; }

@media (max-width: 1024px) {
  .video h3 { font-size: 3.2rem; }
  .video .vi { height: 330px; }
  .video .video_dimmed { height: 330px; }
  .video .video_control { display: none; }
  .video .bluewingstv { display: block; width: 350px; padding: 16px 0; margin: 30px auto 0; }
  .video .bluewingstv img { width: 100%; }
}

@media (max-width: 728px) {
  .video h3 { font-size: 3.2rem; }
  .video .vi { height: 215px; }
  .video .video_dimmed { height: 215px; }
  .video .video_control { display: none; }
  .video .bluewingstv { display: block; padding: 16px 0; width: 320px; margin: 30px auto 0; }
  .video .bluewingstv img { width: 100%; }
}

@media (max-width: 480px) {
  .video .bluewingstv { width: 240px;}
}


/* News & Notice */
.news { position: relative; background: url(../img/main/bg_news.png) no-repeat center / cover; }
.news .inner { position: relative; max-width: 1200px; margin: 0 auto; }
.news .inner > .title { padding-top: 40px; display: flex; gap: 50px; align-items: center; justify-content: center; }
.news .inner h3 { font-size: 3.6rem; font-weight: 700; color: #292929; text-transform: uppercase; }
.news .inner .news_btn_more { transition: all 0.5s; width: 35px; height: 35px; border-radius: 35px; background: #8c8c8c url(../img/main/btn_plus.png) no-repeat center; font-size: 0;}
.news .inner .news_btn_more:hover { background: var(--main_color) url(../img/main/btn_plus.png) no-repeat center; }
.news .board { display: flex; flex-wrap: wrap; column-gap: 24px; padding-top: 45px; }
.news .board .left_board { width: 40%; }
.news .board .left_board img { width: 100%; border-radius: 15px;}
.news .board .left_board .txt_box { margin-top: 21px; display: flex; justify-content: space-between; align-items: center; }
.news .board .left_board .txt_box a {width:50%}
.news .board .left_board .news { padding: 3px 17px; margin-right: 24px; font-weight: 700; background: var(--main_color); border-radius: 15px; color: #fff; }
.news .board .left_board .title { font-weight: 600; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.news .board .left_board .title:hover { text-decoration: underline; }
.news .board .left_board .date { margin-left: auto; font-size: 1.4rem; color: #6e6e6e; }

.news .board .right_board { width: calc(60% - 24px) ; }
.news .board .right_board ul { width: 100%; justify-content: space-between; align-items: center; }
.news .board .right_board ul li { padding: 28px 0; display: flex; }
.news .board .right_board ul li:first-child { border-top: 1px solid #a4a4a4; border-bottom: 1px solid #a4a4a4; } 
.news .board .right_board ul li:nth-child(n+1) { border-bottom: 1px solid #a4a4a4; }

.news .board .right_board ul li .news { margin-right: 24px; padding: 3px 17px; font-weight: 700; background: var(--main_color); border-radius: 15px; color: #fff; }
.news .board .right_board ul li .notice { margin-right: 24px; padding: 3px 10px; font-weight: 700; background: var(--sub_color1); border-radius: 15px; color: #fff; }
.news .board .right_board ul li a {width:50%}
.news .board .right_board ul li .title { font-weight: 600; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.news .board .right_board ul li .title:hover { text-decoration: underline; }
.news .board .right_board ul .date { margin-left: auto; font-size: 1.4rem; color: #6e6e6e; }

.news .academy { margin-top: 80px; padding-bottom: 80px; }
.news .academy a { display: block; }

.news .m_btn_more { display: none; }

@media (max-width:1210px) {
  .news .academy { display: none; }
  .news .inner .news_btn_more { display: none; }
  .news .board { margin: 0 30px; }
  .news .board .left_board { width: 100%; }  
  
  .news .board .right_board { width: 100%; }  
  .news .m_btn_more { display: block; position: absolute; top: 100%; right: 5%; }
}

@media (max-width:1024px) {
  .news .inner { padding: 0 24px; }
  .news .board .left_board { width: 100%; }
  .news .board .left_board img { width: 100%; }
  .news .board .left_board .txt_box { width: 100%; padding-bottom: 20px; }
  .news .board .right_board { width: 100%; }
}

@media (max-width:728px) {
  .news .inner { padding: 0 5%; margin: 0 auto; }
  .news .inner h3 { font-size: 3.2rem; }
  .news .board .left_board .title { width: 250px; }
  .news .board .left_board .news { font-size: 1.1rem; }
  .news .board .left_board img { width: 100%; }
  .news .board .left_board .txt_box { width: 100%; padding-bottom: 20px; }
  .news .board .left_board .date { font-size: 1.2rem; }
  .news .board .right_board { width: 100%; }
  .news .board .right_board ul li .title { width: 250px; }
  .news .board .right_board ul li .news { font-size: 1.1rem; }
  .news .board .right_board ul li .notice { font-size: 1.1rem; }
  .news .board .right_board ul .date { font-size: 1.2rem; }
}

@media (max-width:656px) {
  .news .board .left_board .txt_box { justify-content: left; }
}


/* partners */
.partners { padding: 0 0 40px; }
.partners  h3 { text-align: center; font-size: 3.6rem; font-weight: 700; color: #292929; padding: 30px 0 60px; text-transform: uppercase; }
.partners .marquee { overflow: hidden; }
.partners .marquee ul { display: flex; align-items: center; column-gap: 25px; width: max-content; }
.partners .marquee ul li { position: relative; width: 160px; height: 100px; border: 1px solid #c9c9c9; border-radius: 10px;}
.partners .marquee ul li img { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);width: 100%; }

.partners .marquee { width: 100%; position: relative; height: 100px; }
.partners .marquee.list02 { margin-top: 50px;}
.partners .track1 { position: absolute; animation: marquee1 30s linear infinite; }
.partners .track1_1 { position: absolute; animation: marquee2 30s linear infinite; }
.partners .track2  {position: absolute; animation: marquee1 30s linear reverse infinite; }
.partners .marquee .track2_1 { position: absolute; animation: marquee2 30s linear reverse infinite; }

@keyframes marquee1 {
  0%{ 
    left: 0;
  }
  100% {
    left: -2215px;
  }
}

@keyframes marquee2 {
  0%{ 
    left: 2215px;
  }
  100% {
    left: 0;
  }
}

@keyframes marquee3 {
  0%{ 
    left: 2215px;
  }
  100% {
    left: 0;
  }
}

@media (max-width:728px) {
  .partners  h3 { font-size: 3.2rem; }
  .partners .marquee ul { gap: 10px; }
  .partners .marquee ul li { width: 100px; height: 62px; }
  .partners .marquee.list02 { margin-top: 10px;}
  .partners  h3 { font-size: 3.2rem; padding: 10px 0 20px; }
}


/* footer */
#footer { background: #2f2f2f; }
#footer .footer_top { background: #222; }
#footer .footer_top .inner { padding: 46px 0; max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; }
#footer .footer_top .inner .footer_top_list { display: flex; flex-wrap: wrap; column-gap: 26px; }
#footer .footer_top .inner .footer_top_list li { position: relative; }
#footer .footer_top .inner .footer_top_list li::before { position: absolute; top: 4px; left:-12px; content: ""; display: block; width: 2px; height: 18px; background: #fff; opacity: 0.5; }
#footer .footer_top .inner .footer_top_list li a { transition: color 0.5s; color: #fff; font-weight: 500; opacity: 0.7; }
#footer .footer_top .inner .footer_top_list li:first-child::before { display: none; }
#footer .footer_top .inner .footer_top_list  li a:hover { color: var(--sub_color2); }
#footer .footer_top .inner .family_site { position: relative; }
#footer .footer_top .inner .family_site .family { color: #fff; font-size: 1.6rem; opacity: 0.7; text-transform: uppercase; text-align: left; cursor: pointer; }
#footer .footer_top .inner .family_site .family::after { content: ""; margin-top: 6px; display: block; width: 130px; height: 1px; background: #fff;}
#footer .footer_top .inner .family_site .rotate_off { position: absolute; top: 10px; left: 110px; width: 12px; height: 10px; }
#footer .footer_top .inner .family_site .rotate_on { transform: rotate(180deg); position: absolute; top: 10px; left: 110px; width: 12px; height: 10px; }

#footer .footer_top .family_site { position: relative; }
#footer .footer_top .family_site .family_list { position: absolute; top: 35px;background: rgba(255, 255, 255, 0.5); text-align: center; }
#footer .footer_top .family_site .family_list { padding: 10px 23px; }
#footer .footer_top .family_site .family_list ul li { padding: 5px 0; }
#footer .footer_top .family_site .family_list ul li a { font-size: 1.4rem; font-weight: 500; }
#footer .footer_top .family_site .family_list ul li:hover a { color: var(--sub_color2); }

#footer .inner { max-width: 1200px; margin: 0 auto; }
#footer .footer_bottom { padding: 51px 0 38px; display: flex; flex-wrap: wrap; align-items: center; column-gap: 50px; }
#footer .footer_bottom .left img { width: 77px; height: 98px; mix-blend-mode: luminosity; }
#footer .footer_bottom .txt { display: flex; flex-wrap: wrap; column-gap: 24px; color: #fff; font-weight: 400; opacity: 0.7; }
#footer .footer_bottom .txt address { opacity: 0.7; }
#footer .footer_bottom p { color: #fff; opacity: 0.7; font-weight: 400; text-transform: uppercase; }
#footer .footer_bottom .logo { padding-top: 27px; }
#footer .footer_bottom .logo img { margin-right: 44px; }
#footer .tell { pointer-events: none; }
#footer .tell span { color: #fff; }

@media (max-width:948px) {
  #footer .footer_top .family_site { display: none; }
  #footer .footer_bottom .left img { display: none; }
  #footer .footer_bottom .logo img { display: none; }
}

@media (max-width:728px) {
  #footer { background: var(--main_color); }
  #footer .tell { pointer-events: initial; }
  #footer .footer_top .inner { background: var(--main_color); padding: 32px 5% 24px ; margin: 0 auto; border-bottom: 1px solid #fff; }
  #footer .footer_top .inner .footer_top_list li:nth-child(3)::before { display: none; }
}


/* quick_menu */
.quick_menu { position:absolute; right:60px; width: 70px; height: 355px; background: rgba(12, 58, 151,0.5); z-index: 1; }
.quick_menu ul { text-align: center; align-items: center; }
.quick_menu ul li { height: 71px; border-bottom: 1px solid rgba(255, 255, 255, 0.3); font-size: 0; cursor: pointer; }
.quick_menu ul li:first-child { transition: all 0.5s; background: url(../img/main/ticket_off.png) no-repeat center; }
.quick_menu ul li:first-child:hover { background: url(../img/main/ticket_on.png) no-repeat center; opacity: 1; }
.quick_menu ul li:nth-child(2) { transition: all 0.5s; background: url(../img/main/insta_off.png) no-repeat center; }
.quick_menu ul li:nth-child(2):hover { background: url(../img/main/insta_on.png) no-repeat center; }
.quick_menu ul li:nth-child(3) { transition: all 0.5s; background: url(../img/main/facebook_off.png) no-repeat center; }
.quick_menu ul li:nth-child(3):hover { background: url(../img/main/facebook_on.png) no-repeat center; }
.quick_menu ul li:nth-child(4) { transition: all 0.5s; background: url(../img/main/youtube_off.png) no-repeat center; }
.quick_menu ul li:nth-child(4):hover { background: url(../img/main/youtube_on.png) no-repeat center; }
.quick_menu ul li:last-child { transition: all 0.5s; background: url(../img/main/aguilletter_off.png) no-repeat center; border: none; }
.quick_menu ul li:last-child:hover { background: url(../img/main/aguilletter_on.png) no-repeat center; }

@media (max-width:1024px) {
  .quick_menu { display: none; }
}

/* go_top */
.go_top { display: block; background: var(--main_color) url(../img/main/go_top.png) no-repeat center ; position: fixed ; right: 60px; bottom: 51px; width: 70px; height: 72px; font-size: 0; z-index: 1000; }
 
@media (max-width:1024px) {
  .go_top { position: fixed; right: 20px; bottom: 20px; width: 30px; height: 30px; background: var(--main_color) url(../img/main/mb_go_top.png) no-repeat center; }
}

#copyright { padding: 10px 0; font-size: 1.2rem; color: #fff; text-align: center; opacity: 0.5; }
