@charset "utf-8";

html { font-size: 62.5%; scroll-behavior: smooth; } /* 10px 반응형 % */
*{ margin: 0; padding: 0; box-sizing: border-box; }
a{ text-decoration: none; color: #333; }
ol, ul{ list-style: none; }
table{ border-collapse: collapse; width: 100%; }
caption, legend{ display: none; }
input, select, textarea, fieldset{ outline: none; border: 0; }
img{ vertical-align: top; }

/* 글자기울임 방지 */
i, em, address { font-style: normal; }

/* 글자굵기 기본값 */
h1, h2, h3, h4, h5, h6, strong, b { font-weight: normal; }

/* 배경, 선 */
button, input { background-color: transparent; border: none; }